<div class="user_index_container">
  <img src="<%= @author.photo %>" alt="<%= @author.name %> photo" class="container author_photo" />
   <div class="container user_index_content">
    <h2><%= @author.name%></h2>
    <p><%= "Number of posts: #{@author.posts_counter}"%></p>
  </div>
</div>

<% @posts.includes(:comments).each do |post|%>
  <div class="container">
    <h3><%= link_to "Post # #{post.id}", user_post_path(@author.id, post.id)%></h3>
    <p><%=post.text%></p>
    <h4><%="Comments #{post.comments_counter}, Likes #{post.likes_counter}"%></h4>
  </div>

<div class="container">
    <% post.recent_comments.each do |comment|%>
      <%= "#{comment.author.name}: #{comment.text}"%><br><br>
    <%end%>
  </div>  
<%end%>

<div class="button_cont">
  <button type="button">Pagination</button>
</div>

<div class="button_cont">
  <%= render partial: 'partials/add_a_post_button'%>
</button>
