<div class="container">
  <div>
     <h1><%="Post #{@post.id} - #{@post.title} "%></h1>
    <h2><%="By #{@post.author.name}"%></h2>
    <h4><%="Comments: #{@post.comments_counter}, Likes #{@post.likes_counter}"%></h4>
  </div>
  <p><%=@post.text%></p>  

  <div>
    <% liked = @user&.liked?(@post) %>
    <% if @user %>
      <% if liked %>
        <%= button_to 'Unlike', user_post_like_path(@user, @post), method: :delete %>
      <% else %>
        <%= button_to 'Like', user_post_likes_path(@user, @post, @like), method: :post %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
  <% @post.comments.each do |comment|%>
    <%= "#{comment.author.name}: #{comment.text}"%><br><br>
  <%end%>
</div>

<div class="button_cont">
  <%= link_to 'Leave your Comment!', new_user_post_comment_path(@post.author, @post), class: "button"%>
</div>
