<!DOCTYPE html>
<html>
  <head>
    <title>Blogapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <section>
      <% if user_signed_in? %>
        <%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete }, class: "button" %>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path, class: "button" %>
        <%= link_to 'Sign Up', new_user_registration_path, class: "button" %>
      <% end %>
    </section>
    
    <main class="main_container">
      <%= yield %>
    </main>  
  </body>
</html>
